@model CurrencyConverter.Models.UserInput

@{
    ViewData["Title"] = "Index";
}
<div class="jumbotron text-center">
    <h2>BNU-550 Currency Converter Application</h2>
    <h4>by Andrei Cruceru</h4>

    <div class="col-md-6 offset-md-3 align-self-center text-center">
        <hr />
        <form asp-action="index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Name" class="control-label"></label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Name" class="form-control" />
                    </div>                    
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Email" class="control-label"></label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>                             
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 float-right">
                        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
                    </div>
                </div>                
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
